src/main/resources/SimpleService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ttdev.com/ss" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SimpleService" targetNamespace="http://ttdev.com/ss">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ttdev.com/ss">
      <xsd:element name="changeVideo">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="url" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="changeVideoResponse">

      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="video_id" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="changeVideoRequest">
    <wsdl:part element="tns:changeVideo" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="changeVideoResponse">
    <wsdl:part element="tns:changeVideoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="SimpleService">
    <wsdl:operation name="changeVideo">
      <wsdl:input message="tns:changeVideoRequest"/>
      <wsdl:output message="tns:changeVideoResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SimpleServiceSOAP" type="tns:SimpleService">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="changeVideo">

  		<soap:operation soapAction="http://ttdev.com/ss/videoChange" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SimpleService">
    <wsdl:port binding="tns:SimpleServiceSOAP" name="p1">
      <soap:address location="http://localhost:8080/ss/p1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
