src/main/resources/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="result">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="sessid"/>
        <xs:element type="xs:string" name="session_name"/>
        <xs:element type="xs:string" name="token"/>
        <xs:element name="user">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="uid"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="mail"/>
              <xs:element type="xs:string" name="theme"/>
              <xs:element type="xs:string" name="signature"/>
              <xs:element type="xs:string" name="signature_format"/>
              <xs:element type="xs:int" name="created"/>
              <xs:element type="xs:int" name="access"/>
              <xs:element type="xs:int" name="login"/>
              <xs:element type="xs:byte" name="status"/>
              <xs:element type="xs:string" name="timezone"/>
              <xs:element type="xs:string" name="language"/>
              <xs:element type="xs:string" name="picture"/>
              <xs:element type="xs:string" name="data"/>
              <xs:element name="roles">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="item"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="is_array"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="rdf_mapping">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="rdftype">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="item"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="is_array"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="name">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="predicates">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="item"/>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="is_array"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="homepage">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="predicates">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="item"/>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="is_array"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="type"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

