src/main/resources/youtubeService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/youtubeService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="youtubeService" targetNamespace="http://www.example.org/youtubeService/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/youtubeService/">
      <xsd:element name="changeYoutubeVideo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="changeYoutubeVideoResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="url" type="xsd:string" />
          	<xsd:element name="video_id" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="changeYoutubeVideoRequest">
    <wsdl:part element="tns:changeYoutubeVideo" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="changeYoutubeVideoResponse">
    <wsdl:part element="tns:changeYoutubeVideoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="youtubeService">
    <wsdl:operation name="changeYoutubeVideo">
      <wsdl:input message="tns:changeYoutubeVideoRequest"/>
      <wsdl:output message="tns:changeYoutubeVideoResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="youtubeServiceSOAP" type="tns:youtubeService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="changeYoutubeVideo">
      <soap:operation soapAction="http://www.example.org/youtubeService/changeYoutubeVideo"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="youtubeService">
    <wsdl:port binding="tns:youtubeServiceSOAP" name="youtubeServiceSOAP">
      <soap:address location="http://localhost:8080/change/youtube"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
