src/main/resources/youtube.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://crossfit.com/youtube/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="youtube" targetNamespace="http://crossfit.com/youtube/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://crossfit.com/youtube/">
      <xsd:element name="ChangeVideo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="url" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ChangeVideoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="video_id" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ChangeVideoRequest">
    <wsdl:part element="tns:ChangeVideo" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ChangeVideoResponse">
    <wsdl:part element="tns:ChangeVideoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="youtube">
    <wsdl:operation name="ChangeVideo">
      <wsdl:input message="tns:ChangeVideoRequest"/>
      <wsdl:output message="tns:ChangeVideoResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="youtubeSOAP" type="tns:youtube">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ChangeVideo">
      <soap:operation soapAction="http://crossfit.com/youtube/ChangeVideo"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="youtube">
    <wsdl:port binding="tns:youtubeSOAP" name="youtubeSOAP">
      <soap:address location="http://localhost:8080/ss/youtubeSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
